POSTGRES_DB=ai-report
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

JWT_ACCESS_SECRET="test_secret"
JWT_ACCESS_EXPIRES="1h"
JWT_REFRESH_SECRET="test_refresh_secret"
JWT_REFRESH_EXPIRES="7d"

SONAR_TOKEN=squ_....

# database menggunakan docker
## open docker dekstor
## run -> docker compose up